<ion-view view-title="news">
    <ion-content class="padding">
        <div class="ion-social-hackernews">
            <div class="news-head">
                
                <i>Что бы котлеты были вкусными надо чтобы был нарезан лук</i>
                <i>..</i>
            </div>
            <div class="news-content">
                <p>News</p>
                <p>News</p>
                <p>News</p>
                <p>News</p>
                <p>News</p>
                <p>News</p>
            </div>
            <div class="nws-bott">
                <a href="#">Читать дальше</a>
                
                <div class="nws-bott-like"></div>
                <i>5</i>
            </div>
        </div>
    </ion-content>
</ion-view>