<ion-view view-title="news">
    <ion-content class="padding">
        <div class="newsd">
            <div class="news-head">
                <div class="news-head-l">
                    <img src="../images/menu_up.png" />
                </div>
                <div class="news-head-c">
                    <i>Что бы котлеты были вкусными надо чтобы был нарезан лук</i>
                </div>
                <div class="news-head-r">
                    <i>..</i>
                </div>
            </div>
            <div class="news-content">
                <p>News</p>
                <p>News</p>
                <p>News</p>
                <p>News</p>
                <p>News</p>
                <p>News</p>
            </div>
            <div class="nws-bott">
                <a href="#">Читать дальше...</a>
                <i>5</i>
                <div class="nws-bott-like"></div>
            </div>
        </div>
        <div class="newsd">
            <div class="news-head">
                <div class="news-head-l">
                    <img src="../images/menu_up.png" />
                </div>
                <div class="news-head-c">
                    <i>Что бы котлеты были вкусными надо чтобы был нарезан лук</i>
                </div>
                <div class="news-head-r">
                    <i>..</i>
                </div>
            </div>
            <div class="news-content">
                <p>News</p>
                <p>News</p>
                <p>News</p>
                <p>News</p>
                <p>News</p>
                <p>News</p>
            </div>
            <div class="nws-bott">
                <a href="#">Читать дальше...</a>
                <i>5</i>
                <div class="nws-bott-like"></div>
            </div>
        </div>
    </ion-content>
</ion-view>